/*
  流程提交面板
*/
.flow-wrap {
  width:100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  .refer {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width:49%;
    min-height:160px;
    max-height: 300px;

    .t-box {
      width:100%;
      height:200px;
      border: 1px solid #ccc;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      .sug-left {
        background: #f4f6f6;
        width:84px;
        height: 198px;
        line-height: 198px;
        text-align: center;
        color: black;
        
      }
      .idea-textbox {
        width:calc(100% - 84px);
        padding: 30px;
        box-sizing: border-box;
        .idea-box {
          .el-textarea__inner {
            display: block;
            resize: vertical;
            padding: 0 0;
            line-height: 1.5;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            font-size: inherit;
            color: #606266;
            background-color: #FFF;
            background-image: none;
            //border: 1px solid #DCDFE6;
            border: 0px;
            border-radius: 4px;
            -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
            transition: border-color .2s cubic-bezier(.645,.045,.355,1);
          }
        }
  
      }
    }


    .refer-right {
      border: 1px solid #cdd4d4;
      width:100%;
      height:137px;
      padding:20px;
      box-sizing: border-box;
      border-radius: 4px;
      margin-top:1px;
      
      //自由流程
      .free-flow {
        .list-right {
          .add {
            cursor: pointer;
            text-align: center;
            line-height: 18px;
            width:24px;
            height: 24px;
            border: 2px solid #46d2db;
            font-size: 24px;
            color: #46d2db;
            //font-weight: bold;
          }
        }
      }

      .refer-radio{
        .el-radio-group {
          display: -webkit-flex;
          display: flex;
          line-height: 1;
          vertical-align: middle;
          flex-direction: column;
          .el-radio {
            color: #606266;
            cursor: pointer;
            height: 30px;
            margin-right: 30px;
          }
        }
        .check-input {
          width:135px;
          margin-left: 20px;
          margin-right: 10px;
          .el-input {
            position: relative;
            font-size: 14px;
            display: inline-block;
            width:135px;
            .el-input__inner {
              -webkit-appearance: none;
              background-color: #FFF;
              background-image: none;
              border-radius: 4px;
              border: 1px solid #DCDFE6;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              color: #606266;
              display: inline-block;
              font-size: inherit;
              height: 30px;
              line-height: 30px;
              outline: 0;
              padding: 0 10px;
              -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
              transition: border-color .2s cubic-bezier(.645,.045,.355,1);
              width: 135px;
            }
          }
        }
      }

      .refer-check {
        .check-input {
          width:135px;
          margin-left: 20px;
          margin-right: 10px;
          .el-input {
            position: relative;
            font-size: 14px;
            display: inline-block;
            width:135px;
            .el-input__inner {
              -webkit-appearance: none;
              background-color: #FFF;
              background-image: none;
              border-radius: 4px;
              border: 1px solid #DCDFE6;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              color: #606266;
              display: inline-block;
              font-size: inherit;
              height: 30px;
              line-height: 30px;
              outline: 0;
              padding: 0 10px;
              -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
              transition: border-color .2s cubic-bezier(.645,.045,.355,1);
              width: 135px;
            }
          }
        }
      }

    }
  }

  //正常时显示的样子
  .idea {
    height:160px;
  }
  //手签时的样子
  .bigIdea {
    height:300px;
    animation: change 1s;
    -moz-animation: change 1s;    
    -webkit-animation: change 1s;    
    -o-animation: change 1s;
  }
  @keyframes change{
    from {
      height: 195px;
    }
    to {
      height: 360px;
    }
  }

  //盒子idea的共同样式
  .common-idea {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width:49%;
    .idea-left {
     
    }

    //启动流程的右边
    .idea-right-submission-process {
      margin-top: 1px;
      width:100%;
      min-height:137px;
      padding:5px 0 0px 0;
      box-sizing: border-box;
      border-radius: 4px;
      overflow: hidden;
      color: #b7b5b5;
    }
    .idea-right {
      margin-top: 1px;
      width:100%;
      min-height:137px;
      padding:5px 20px 0px 20px;
      box-sizing: border-box;
      border: 1px solid #cdd4d4;
      border-radius: 4px;
      overflow: hidden;
      .idea-use {
        position: relative;
        width:100%;
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;
        .use-tip {
          cursor: pointer;
        }
        .use-suggest {
          position: absolute;
          top:25px;
          right:-30px;
          width: 160px;
          min-height: 156px;
          border:1px solid #cdd4d4;
          border-radius: 4px;
          background: white;
          z-index: 1000;
          
          .sug-data {
            width:100%;
            height:105px;
            // overflow: hidden;
            overflow-y:scroll;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            .data-row {
              cursor: pointer;
              display: inline-block;
              color:black;
              width:100%;
              height:30px;
              line-height: 30px;
              margin-bottom: 5px;
              padding: 0 0 5px 7px;
              display: -webkit-flex;
              display: flex;
              justify-content: space-between;
              .icon {
                margin-right:8px;
                &>i {
                  margin-left:10px;
                }
                &>i:nth-child(1) {
                  color:red;
                }
                &>i:nth-child(2) {
                  color:black;
                }
              }
            }
            .data-row:hover {
              background: #46d2db;
              color:white;
            }
            .data-row:hover .icon>i{
              background: #46d2db;
              color:white;
            }
          }
          .sug-btn {
            width:100%;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            padding:10px 6px 10px 6px;
            
            .btns {
              width:100%;
              display: -webkit-flex;
              display: flex;
              align-items: center;
              flex-direction: column;
              &>span {
                display: block;
                width:100%;
                height:30px;
                line-height: 30px;
                text-align: center;
                margin-bottom: 8px;
                cursor: pointer;
                border-radius: 3px;
              }
              &>span:nth-child(1) {
                border:1px solid #0074de;
                color:#3792e5;
              }
              &>span:nth-child(2) {
                border:1px solid #cdd4d4;
              
              }
            }
            
          }
          .sug-new {
              
              width:100%;
              padding:10px 6px 10px 6px;
              display: -webkit-flex;
              display: flex;
              flex-direction: column;
              align-items:center;
              .new-input {
                width:140px;
                input {
                  width:100%;
                  padding:3px;
                }
              }
              .keep-cancel{
                width:100%;
                display: -webkit-flex;
                display: flex;
                justify-content: flex-end;;
                padding:10px 0 10px 6px;
                &>span {
                  display: inline-block;
                  margin-right: 10px;
                  cursor: pointer;
                }
                &>span:nth-child(1) {
                  color:#c2c2c2
                }
                &>span:nth-child(2) {
                  color:#76c797;
                }
              }
            }
        }
      }
      .idea-textbox {
        margin-top:10px;
        width:100%;
        .idea-box {
          .el-textarea__inner {
            display: block;
            resize: vertical;
            padding: 0 0;
            line-height: 1.5;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            font-size: inherit;
            color: #606266;
            background-color: #FFF;
            background-image: none;
            //border: 1px solid #DCDFE6;
            border: 0px;
            border-radius: 4px;
            -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
            transition: border-color .2s cubic-bezier(.645,.045,.355,1);
          }
        }
      }
      .idea-opinion {
        margin-top:5px;
        width:100%;
        height:25px;
        &>span:nth-child(1) {
          width: calc(100% - 94px);
          height: 3px;
          border-top: 1px dashed #DDE2E2;
          border-bottom: 1px dashed #DDE2E2;
          display: inline-block;
          vertical-align: bottom;
        }
        &>span:nth-child(2) {
          width: 83px;
          display: inline-block;
          cursor: pointer;
          margin-left:10px;
        }
      }
      .idea-canvas {
        position: relative;
        width:100%;
        height:125px;
        .canvas {
          // border: 1px solid pink;
        }
      }
      .idea-clear {
        width:100%;
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;
        position: relative;
        .btn{
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
    }
  }
}

.footer-btn {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width:100%;
  height:40px;
  align-items: center;
  justify-content: center;
  .pack-up {
    font-size: 12px;
    color: #909393;
    margin-left: 15px;
    cursor: pointer;
  }
  // &>div {
  //   position: absolute;
  //   bottom:-50px;
  // }
}

/*
  终止流程面板
*/
.termination{
  .t-box {
    width:100%;
    height:200px;
    border: 1px solid #ccc;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    .sug-left {
      background: #f4f6f6;
      width:84px;
      height: 198px;
      line-height: 198px;
      text-align: center;
      color: black;
      
    }
    .idea-textbox {
      width:calc(100% - 84px);
      padding: 30px;
      box-sizing: border-box;
      .idea-box {
        .el-textarea__inner {
          display: block;
          resize: vertical;
          padding: 0 0;
          line-height: 1.5;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          font-size: inherit;
          color: #606266;
          background-color: #FFF;
          background-image: none;
          //border: 1px solid #DCDFE6;
          border: 0px;
          border-radius: 4px;
          -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
          transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        }
      }



    }
  }
  .foot-btns {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
  }
  
}


/*
  加签主办（协办）
*/
.process-host {
  width:100%;
  height: 100%;
   //加签列表
   .add-list {
    width:100%;
    height:100%;
    .list-wrap {
        width:100%;
        height:480px;
        margin-top:10px;
        background: white;
        position: relative;
        .title {
          margin:0 auto;
          width:95%;
          height:40px;
          line-height: 40px;
          display: flex;
          flex-direction: row;
          background: #dde2e2;
          border-radius: 3px;
          &>span {
              width:50%;
              padding-left:15px;
              font-size: 14px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              &>span {
                  display: inline-block;
                  width:30%;
                  height:16px;
                  &>img {
                      width:16px;
                      height:100%;
                  }
              }
          }
        }
        .list {
            margin:0 auto;
            width:95%;
            height:40px;
            line-height: 40px;
            display: flex;
            flex-direction: row;
            background: white;
            border-bottom: 1px solid #e2e2e2;
            &>span {
                width:50%;
                padding-left:15px;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &>span {
                    display: inline-block;
                    width:30%;
                    height:16px;
                    &>img {
                        width:16px;
                        height:100%;
                    }
                }
            }
        }
    }
    .btn-bar {
      width: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
    }
}

}
