#information {
  width: 100%;
  height: 100%;
  .tab-wraper {
    width: 100%;
    height: 100%;
    .el-tab-pane {
      height: 100%;
    }
    .my-replay-box {
      .el-tabs__header {
        padding: 0;
        position: relative;
        margin: 0 0 0px;
      }
    }

    //企业动态
    .info-wrap {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: #f6f7fb;
      .scrollbar {
        height: 100%; 
        width: 100%;
        overflow-x: hidden;
        .enterprise {
          width: 100%;
          padding-left: 10px;
          padding-right: 20px;
          box-sizing: border-box;
          
          .enterprise-header {
            width: 100%;
            height: 50px;
            background: #ffffff;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            overflow: hidden;
        
            .pull-left {
              height: 100%;
              span {
                display: block;
                height: 100%;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #ec8100;
                line-height: 50px;
                padding-left: 20px;
                box-sizing: border-box;
              }
            }
            .pull-right {
              height: 100%;
              text-align: right;
              line-height: 50px;
              padding-right: 20px;
              box-sizing: border-box;
              span {
                font-weight: 700;
                font-size: 22px;
                font-style: italic;
                font-family: Constantia, Georgia;
              }
            }
          }
          .textarea {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            .el-textarea__inner {
              display: block;
              resize: vertical;
              padding: 5px 15px;
              line-height: 1.5;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              font-size: inherit;
              color: #606266;
              background-color: #FFF;
              background-image: none;
              border: 0;
              border-radius: 4px;
              -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
              transition: border-color .2s cubic-bezier(.645,.045,.355,1);
            }
          }
          .information-content {
            width: 100%;
            min-height: 120px;
            background: white;
            border: 1px solid #ccc;
            .msg-setting {
              width: 100%;
              min-height: 77px;
              padding: 0 15px 0 15px;
              background: #f9f9f9;
              box-sizing: border-box;
              //overflow: hidden;
              display: -webkit-flex;
              display: flex;
              align-items: center;
              .msg-wrap {
                width: 100%;
                .pull-left {
                  padding-top: 10px;
                  box-sizing: border-box;
                  display: -webkit-flex;
                  display: flex;
                  flex-direction: row;
                  width: 400px;
                  height: 100%;
                  .upload-demo {
                    display: inline-block;
                    .add-icon {
                      color: greenyellow;
                    }
                  }
                  .msg-func-item {
                    display: inline-block;
                    position: relative;
                    span {
                      width:60px;
                      display: inline-block;
                      position: absolute;
                      top:0;
                      left:10px;
                      i {
                        display: inline-block;
                        color: greenyellow;
                      }
                      .face-box {
                        position: absolute;
                        top:20px;
                        left:0;
                        padding: 5px 2px 15px 18px;
                        width: 375px;
                        height: 237px;
                        z-index: 9999;
                        box-sizing: content-box;
                        background: #ffffff;
                        border-radius: 3px;
                        border: 1px solid #ccc;
                        box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);
                        .facelist-close {
                          width: 100%;
                          padding-right: 10px;
                          height: 25px;
                          box-sizing: border-box;
                          text-align: right;
                          i {
                            color: #333;
                            font-size: 18px;
                            cursor: pointer;
                          }
                        }
                        .face-list {
                          width: 100%;
                          min-height: 31px;
                          display: -webkit-flex;
                          display: flex;
                          flex-direction: row;
                          flex-wrap: wrap;
                          li {
                            width: 31px;
                            height: 31px;
                            border: 1px solid #e8e8e8;
                            margin:0px 0px -1px -1px;
                            display: -webkit-flex;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                          }
                          li:hover {
                            border: 1px solid red;
                          }
                        }
                      }
                    }
                  }
                }
                .pull-right {
                  float: right;
                  width: 400px;
                  height: 100%;
                  overflow: hidden;
                  padding-top: 10px;
                  box-sizing: border-box;
                  .msg-right {
                    float: right;
                    .el-button {
                      margin-top: 0;
                    }
                    
                  }
                }
              }
              
            }
            .msg-submit {
              width: 100%;
              height: 50px;
              margin-top: 20px;
              padding: 0 15px 0 15px;
              box-sizing: border-box;
              overflow: hidden;
              .pull-left {
                float: left;
                width: 400px;
                height: 100%;
                label {
                  color: black;
                }
                .el-input {
                  width: 200px;
                  height: 40px;
                }
              }
              .pull-right {
                float: right;
                width: 400px;
                height: 100%;
                overflow: hidden;
                .msg-right {
                  float: right;
                }
              }
            }
          }
        }
        .el-tabs__content {
          overflow: hidden;
          position: relative;
          background: #f6f7fb;;
        }
        .tabpanel {
          width: 100%;
          min-height: 50px;
          margin-top: 20px;
          padding: 0 20px 0 10px;
          box-sizing: border-box;
          background: #f6f7fb;
          .tabpanel-box,.announcement-box {
            width: 100%;
            margin-bottom: 20px;
            background: white;
            .tabpanel-item {
              width: 100%;
              min-height: 120px;
              border: 1px solid #ccc;
              padding: 10px 0 0 0;
              li {
                width: 100%;
                min-height: 120px;
                .tabpanel-list {
                  width: 100%;
                  min-height: 90px;
                  padding: 10px 5px 0 20px;
                  box-sizing: border-box;
                  overflow: hidden;
                  position: relative;
                  span {
                    float: left;
                    width: 40px;
                    height: 40px;
                    background: #4c79e0;
                    i {
                      display: block;
                      font-weight: bold;
                      color: white;
                      text-align: center;
                      line-height: 40px;
                    }
                  }
                  .tabpanel-b {
                    float: left;
                    //width: 60px;
                    height: 40px;
                    margin-left: 10px;
                    font-weight: 100;
                  }
                  .tabpanel-close {
                    float: right;
                    width: 30px;
                    height: 30px;
                    i {
                      display: block;
                      text-align: center;
                      line-height: 30px;
                      color: #777777;
                    }
                  }
                  p {
                    position: absolute;
                    left: 20px;
                    top: 60px;
                    color: #777777;
                    font-size: 13px;
                  }
                }
              }
            }
            .placard-box {
              width: 100%;
              min-height: 98px;
              border: 1px solid #ccc;
              .p-header {
                width: 100%;
                height: 40px;
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
                padding-left: 10px;
                padding-right: 10px;
                align-items: center;
                background: #f8f8f8;
                .icon-color {
                  color:#b8b8b8;
                  cursor: pointer;
                }
                .title {
                  margin-left: 5px;
                }
              }
              .p-wrap {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid #eee;
                min-height: 21px;
                color: #777;
              }
              .p-footer {
                width: 100%;
                height: 37px;
                padding-left: 10px;
                padding-right: 10px;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                .self {
                  font-size: 12px;
                }
                .release-time {
                  font-size: 12px;
                  color: #777;
                  margin-left: 3px;
                }
              }
            }
          }
          .msg-handle {
            padding-left: 20px;
            box-sizing: border-box;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            width: 100%;
            height: 37px;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            color: #777777;
            font-size: 12px;
            cursor: pointer;
            i {
              cursor: pointer;
            }
          }
          .reply-box {
            padding: 10px;
            background: #fafaff;
            box-sizing: border-box;
            width:100%;
            min-height: 140px;
            .msg-enter {
              width: 100%;
              height: 60px;
              position: relative;
              display: -webkit-flex;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: #808080;
              .special {
                font-weight: 700;
                font-size: 22px;
                font-style: italic;
                font-family: Constantia, Georgia;
              }
              .publish {
                margin-left: 10px;
              }
            }
            .comments {
              width: 100%;
              .comm-list {
                width: 100%;
                height: 56px;
                border-bottom: 1px solid #ccc;
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .list-left {
                  font-size: 12px;
                  .left-one {
                    display: inline-block;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    background: #428bcb;
                    color: white;
                    font-size: 12px;
                    border-radius: 2px;
                    // padding-left: 3px;
                    // padding-right: 3px;
                    margin-right: 4px;
                    width: 28px;
                    // width: 24px;
                    // box-sizing: border-box;
                  }
                  .left-three {
                    .time {
                      color: #c1c2df;
                    }
                  }
                }
                .list-right {
                  font-size: 12px;
                  cursor: pointer;
                  .del {
                    margin-right: 5px;
                  }
                }
              }

            }
          }
        }
      }
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
    }

    //工作事项
    .wordmatters {
      width: 100%;
      height: 55px;
      background: white;
      padding: 0 20px 0 20px;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #ccc;
      .workImage {
        float: left;
        width: 34px;
        height: 34px;
        margin-top: 10px;
        border-radius: 50%;
        background: #4c79e0;
        margin-right: 10px;
        position: relative;
        span {
          position: absolute;
          left: 30%;
          top: 30%;
          color: white;
        }
        .workRemind {
          display: inline-block;
          width: 50px;
          position: absolute;
          color: black;
          left: 43px;
          top:-3px;
          font-weight: bold;
        }
      }
      .workunderline {
        border-bottom: 1px solid #ccc;
      }
      .elTabs {
        width: calc(100% - 30px);
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        .tab-box {
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          position: relative;
          .select-tab {
            margin-left: -5px;
            span {
              display: inline-block;
              height: 100%;
              width: 40px;
              padding: 25px 0 0 0;
              box-sizing: border-box;
              cursor: pointer;
              margin-right: 5px;
              text-align: center;
            }
            .tabActive {
              border-bottom: 2px solid #4c79e0;
            }
          }
          .el-dropdown {
            float: left;
            margin-top: 25px;
            .el-dropdown-link {
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
        .btn-red {
          height: 100%;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        }
      }
   
    }
    
    //工作事项内容
    .work-box {
      width: 100%;
      height: calc(100% - 55px);
      .work-list {
        width: 100%;
        height: calc(100% - 40px);
        .scrollbar {
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          .one-list {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #ccc;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            .list-content {
              width:100%;
              height: 40px;
              display: -webkit-flex;
              display: flex;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
              .img {
                margin-right: 10px;
                display: inline-block;
                width: 30px;
                height: 30px;
                position: relative;
                
              }
              .is-read {
                display: inline-block;
                width: 30px;
                height: 30px;
                position: relative;
                &:before {
                  border-radius: 50%;
                  position: absolute;
                  top:-5px;
                  right:-12px;
                  content: '';
                  display: inline-block;
                  width:10px;
                  height: 10px;
                  background: #ff2929;
                }
              }
              
              .notice_actor {
                color: #009dd2;
              }
              .notice_flowType {
                color: #969696;
                margin-left: 5px;
                margin-right: 5px;
              }
              .notice_flow {
                color: #0c87ef;
                margin-right: 5px;
              }
              .notice_summary {
                color: #0c87ef;
              }
              .del {
                width: 180px;
                display: inline-block;
                color: #969696;
                cursor: pointer;
              }
            }
          }
        }
        .el-scrollbar__wrap {
          overflow-x: hidden;
        }
      }
      .page {
        height: 40px;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .emptyPage {
        width:100%;
        height: 100%;
        .placeholder-content {
          height: 100%;
          position: relative;
        }
        .placeholder-content:before {
          content: "\f072";
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 6rem;
          color: #CECECE;
          text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
          position: absolute;
          top: 35%;
          left: 50%;
          margin-left: -40px;
        }
        .placeholder-content:after {
          content: "数据飞走了";
          color: #CECECE;
          position: absolute;
          top: 35%;
          left: 50%;
          margin-left: -35px;
          margin-top: 100px;
        }
      }
    }

    
    //我回复的
    .my-reply {
      width: 100%;
      height: calc(100% - 90px);
      background: #f6f7fb;
      padding: 10px;
      box-sizing: border-box;
      .scrollbar {
        height: 100%; 
        width:100%;
        overflow-x: hidden;
        .reply-list {
          width: 100%;
          min-height: 128px;
          border: 1px solid #e7e8eb;
          border-radius: 3px;
          background: white;
          padding: 8px 12px;
          box-sizing: border-box;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;
          .img {
            width: 40px;
            height: 100%;
            span {
              display: inline-block;
              width: 40px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              background: #428bcb;
              color: white;
              font-size: 13px;
              border-radius: 3px;
              
            }
          }
          .right-box {
            margin-left: 10px;
            width: calc(100% - 50px);
            height: 100%;
            .top {
              display: -webkit-flex;
              display: flex;
              justify-content: space-between;
              font-size: 12px;
              color: black;
              font-weight: bold;
              margin-bottom: 10px;
              .top-close {
                color: #777777;
                font-size: 13px;
                cursor: pointer;
              }
            }
            .reply-content {
              width: 100%;
              min-height: 17px;
              font-size: 12px;
              margin-bottom: 10px;
              color: #333;
            }
            .comment {
              width:100%;
              min-height: 27px;
              background-color: #f2f2f5;
              padding: 5px 16px;
              font-size: 12px;
              box-sizing: border-box;
              color: #919191;
              margin-bottom: 10px;
            }
            .date {
              width:100%;
              height: 27px;
              font-size: 12px;
              color: #919191;
            }
  
          }
        }

      }
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
    }
    .page {
      height: 40px;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
    }
    .no-reply {
      width: 100%;
      height: 100%;
      background: #f6f7fb;
      .placeholder-content {
        height: 100%;
        position: relative;
      }
      .placeholder-content:before {
        content: "\f072";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 6rem;
        color: #CECECE;
        text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
        position: absolute;
        top: 35%;
        left: 50%;
        margin-left: -40px;
      }
      .placeholder-content:after {
        content: "数据飞走了";
        color: #CECECE;
        position: absolute;
        top: 35%;
        left: 50%;
        margin-left: -35px;
        margin-top: 100px;
      }
    }

  }
  
  .el-tabs {
    background: white;
    height: 100%;
  }
  .pull-choose {
    width: 500px;
    min-height: 10px;
    border: 1px solid #ccc;
  }
  .msg-pull-box {
    width: 500px;
    min-height: 20px;
    border: 1px solid #ccc;
  }

  .bulletin-dialog {
    .dialog-box {
      width: 100%;
      height: 400px;
      .scrollbar {
        height: 100%; 
        width:100%;
        overflow-x: hidden;
        .edit-html {
          .html-box {
            width: 98%;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            .text-num {
              width: 100%;
              padding-right: 10px;
              box-sizing: border-box;
              text-align: right;
              font-size: 12px;
              color: #ccc;
            }
          }
        }

      }
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
    }

    .dialog-footer {
      display: inline-block;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-end;
    }

    label {
      width: 100px;
      text-align: right;
    }
    .el-input {
      width: 500px;
      height: 40px;
      margin-bottom: 15px;
      margin-left: 10px;
    }
    .recipientVisible {
      width: 400px;
    }
    .minus-msg {
      margin-left: -0px;
    }
    .labeled {
      width: 100px;
      height: 138px;
      text-align: right;
    }
    .FuWen {
      width: 72%;
      margin-left: 10px;
    }
    .edui-default {
      margin-left: 110px;
      margin-top: 10px;
    }
  }

  .dept-dialog {
    .msg-pull-box {
      width: 100%;
      height: 350px;
      .scrollbar {
        height: 100%; 
        width: 100%;
        overflow-x: hidden;
        .el-scrollbar__wrap {
          overflow-x: hidden;
        }
      }
    }
  }


}
