#main_pending {
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 10px #ccc;
  .main_pending-left {
    float: left;
    width: 198px;
    height: 100%;
    overflow-x: auto;
    border-right: 1px solid #ccc;
    .main_pending-left-dyspepsia {
      width: 100%;
      height: 45px;
      overflow: hidden;
      overflow-y: hidden;
      padding: 15px 20px;
      span {
        float: left;
        width: 80px;
        overflow: hidden; /*自动隐藏文字*/
        text-overflow: ellipsis; /*文字隐藏后添加省略号*/
        white-space: nowrap; /*强制不换行*/
        color: #9c9d9f;
        cursor: pointer;
      }
      a {
        float: right;
        min-width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        //border-radius: 50%;
        border-radius: 100px;
        padding-left: 2px;
        padding-right: 2px;
        b {
          display: block;
          text-align: center;
          font-weight: 100;
          font-size: 12px;
          line-height: 20px;
          color: #9c9d9f;
        }
      }
      .headNum {
        background: #fc4d54;
        border: none;
        b {
          color: white;
          font-weight: 600;
        }
        
      }
    }
    .main_pending-left-dyspepsia:hover span {
      color: #6bbae9;
    }
    .main_pending-left-dyspepsia:hover a {
      border: none;
      background: #fc4d54;
    }
    .main_pending-left-dyspepsia:hover b {
      color: white;
      font-weight: 600;
    }
    ul {
      width: 100%;
      min-height: 30px;
      .soft-heading {
        width: 196px;
        height: 30px;
        cursor: pointer;
        .headTitle {
          color: #46d2db;
        }
        .headNum {
          background: #fc4d54;
          border: none;
          b {
            color: white;
            font-weight: 600;
          }
          
        }
        overflow: hidden;
        span {
          float: left;
          width: 80px;
          overflow: hidden; /*自动隐藏文字*/
          text-overflow: ellipsis; /*文字隐藏后添加省略号*/
          white-space: nowrap; /*强制不换行*/
          margin-left: 20px;
          line-height: 30px;
          font-size: 12px;
          color: #767682;
        }
        a {
          float: right;
          margin-right: 20px;
          min-width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          /* border-radius: 50%; */
          border-radius: 100px;
          margin-top: 5px;
          overflow: hidden;
          padding-right: 2px;
          padding-left: 2px;
          b {
            display: block;
            text-align: center;
            font-weight: 100;
            font-size: 12px;
            line-height: 20px;
            color: #9c9d9f;
          }
        }
      }
      .soft-heading:hover span {
        color: #46d2db;
      }
      .soft-heading:hover a {
        border: none;
        background: #fc4d54;
      }
      .soft-heading:hover b {
        color: white;
        font-weight: 600;
      }
    }
  }
  .main_pending-right {
    float: left;
    //width: 950px;
    width: calc(100% - 198px);
    height: 100%;
    .main_pending-right-theme {
      width: 100%;
      height: 54px;
      overflow: hidden;
      .main_pending-right-right {
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        .top-btn {
          margin-top: 7px;
          margin-right: 5px;
        }
        .el-input {
          width: 200px;
          height: 40px;
          margin-top: 7px;
          margin-right: 5px;
        }
      }
    }
    .view-list {
      width: 100%;
      height: calc(100% - 54px);
      overflow: hidden;
      position: relative;
      .scrollbar {
        height: calc(100% - 45px); 
        width:100%;
        overflow-x: hidden;
        .el-table td, .el-table th {
          padding: 4px 0;
          min-width: 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-overflow: ellipsis;
          vertical-align: middle;
          position: relative;
          text-align: left;
        }
        .view-table {
          width: 100%;
          .applicant {
            width: 100%;
            height:50px;
            //border: 1px solid red;
            display:-webkit-flex;
            display: flex;
            flex-direction: row;
            align-items: center;
            .avatar-box {
              width: 33px;
              height: 33px;
              border-radius: 3px;
              position: relative;
              .avatar {
                display: inline-block;
                width: 33px;
                height: 33px;
                background-color: #428bcb;
                color: white;
                font-size: 12px;
                text-align: center;
                line-height: 33px;
                border-radius: 3px;
              }
              .red-dot {
                position: absolute;
                top:-4px;
                right:-4px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #d9544d;
              }
            }
            .app-right {
              width: calc(100% - 33px);
              height: 33px;
              line-height: 33px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              text-align: left;
              padding-left: 10px;
              box-sizing: border-box;
              color:#0c86d5;
            }
          }
        }
      }
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
      
      .page {
        width:100%;
        height: 45px;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;

      }
    }

    // .el-table {
    //   cursor: pointer;
    // }
    // .el-pagination {
    //   margin-left: 330px;
    // }
    .first-box {
      width: 100%;
      min-height: 300px;
      overflow: hidden;
      position: relative;
      .first-item {
        float: left;
        width: 200px;
        min-height: 300px;
        margin-right: 10px;
        border: 1px solid #ccc;
        span {
          display: block;
          width: 100%;
          height: 40px;
          font-size: 12px;
          padding-left: 20px;
          padding-top: 14px;
          box-sizing: border-box;
          border-bottom: 1px solid #ccc;
        }
        ul {
          width: 100%;
          min-height: 40px;
          li {
            width: 100%;
            min-height: 40px;
            border-bottom: 1px solid #ccc;
            span {
              display: block;
            }
          }
          li:hover span {
            color: #46d2db;
            cursor: pointer;
          }
        }
        .first-list {
          width: 100%;
          min-height: 300px;
        }
      }
      .el-transfer-panel {
        border: 1px solid #ebeef5;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        max-height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
  .comm-dialog {
    //按角色
    .search-input{
      width: 100%;
      position: relative;
      .input {
        position: absolute;
        right:10px;
        width: 200px;
        height: 40px;
        z-index: 300;
      }
       
    }
    .role {
      width:100%;
      min-height:360px;
      display: -webkit-flex; 
      display: flex; 
      flex-direction: row;
      .role-left {
        width:28%;
        height:360px;
        border:1px solid #ccc;
        margin-right:15px;
        .scrollbar {
          height: 100%; 
          width: 100%;
          overflow-x: hidden;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          .top-title {
            width: 100%;
            box-sizing: border-box;
            display: inline-block;
            height:40px;
            line-height: 40px;
            padding-left:10px;
            background: #fafafa;
            border-bottom: 1px solid #d2d2d2;
          }
          ul {
            display: -webkit-box;
            display: flex;
            flex-direction: column;
            &>li{
              height:40px;
              line-height: 35px;
              padding-left:10px;
              border-bottom: 1px solid #d2d2d2;
              cursor: pointer;
              .icon-img {
                width:8px; 
                height:10px; 
                margin-right:5px;
              }
            }
          }


        }
        .el-scrollbar__wrap {
          overflow-x: hidden;
        }
        
      }
    }

    //按部门和通讯录
    .contact {
      width:100%;
      min-height:360px;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .left {
        width:30%;
        margin-right:15px;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        .top-title {
          height:40px;
          line-height: 40px;
          padding-left:10px;
          background: #fafafa;
          border-bottom: 1px solid #d2d2d2;
          
        }
        .dept-tree {
          padding-top:10px;
          height:318px;
          padding-left:10px;
          overflow: auto;
        }
        .all-contact {
          height:40px;
          line-height: 40px;
          padding-left:10px;
          background: #fafafa;
          border-bottom: 1px solid #d2d2d2;
          cursor: pointer;
          .icon-img {
            width:8px; 
            height:10px; 
            margin-right:5px;
          }
        }
      }
    }
    
    //查询
    .search {
      width:100%;
      min-height:360px;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      .left {
        width:56%;
        margin-right:15px;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        .top-title {
          display: inline-block;
          height:40px;
          padding:10px;
          box-sizing: border-box;
          background: #fafafa;
          border-bottom: 1px solid #d2d2d2;
          display: -webkit-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          // .myClass input.el-input__inner {
          //   border:0px;
          //   outline:none;
          //   cursor: pointer;
          // }
        }
        .user-list {
          width:100%;
          height:276px;
          overflow: auto;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-left: 10px;
          box-sizing: border-box;
        }
      }
      .selected-role {
        border:1px solid red;
        width:33%;
        border:1px solid #ccc;
        min-height:360px;
        overflow: auto;
        margin-left: 15px;
        .add-all-data {
          padding-left:10px;
          padding-right: 10px;
          box-sizing: border-box;
          display: -webkit-box;
          display: flex;
          height:40px;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #d2d2d2;
        }
        .tag-lists {
          box-sizing: border-box;
          width:100%;
          display: -webkit-box;
          display: flex;
          flex-wrap: wrap;
          .tag {
            margin-left: 10px;
            margin-top: 10px;
          }
        }
      }

    }

    //共同样式
    .user-common {
      .role-page {
        width:32%;
        border:1px solid #ccc;
        height:360px;
        overflow: auto;
       
        .user-list {
          width:100%;
          height:calc(100% - 40px);
          overflow: auto;
          white-space: nowrap;
          text-overflow: ellipsis;
          // padding-left: 10px;
          box-sizing: border-box;
          .add-all-data {
            display: -webkit-box;
            display: flex;
            justify-content: center;
            height:40px;
            align-items: center;
            border-bottom: 1px solid #d2d2d2;
          }
          .current-role {
            line-height: 40px;
            height:40px;
            padding-left: 10px;
            background: #fafafa;
            border-bottom: 1px solid #d2d2d2;
          }
          .list-box {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
          }
        }
        .btn {
          display: -webkit-box;
          display: flex;
          justify-content: center;
          height:40px;
          align-items: center;
          .el-pagination {
            white-space: nowrap;
            padding: 0;
            color: #303133;
            font-weight: 700;
          }
          .el-pagination button, .el-pagination span:not([class*=suffix]) {
            display: inline-block;
            font-size: 12px;
            min-width: 30.5px;
            height: 28px;
            line-height: 28px;
            vertical-align: top;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
      }
      .selected-role {
        border:1px solid red;
        width:33%;
        border:1px solid #ccc;
        height:359px;
        overflow: auto;
        margin-left: 15px;
        .add-all-data {
          padding-left:10px;
          padding-right: 10px;
          box-sizing: border-box;
          display: -webkit-box;
          display: flex;
          height:40px;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #d2d2d2;
        }
        .tag-lists {
          box-sizing: border-box;
          width:100%;
          display: -webkit-box;
          display: flex;
          flex-wrap: wrap;
          .tag {
            margin-left: 10px;
            margin-top: 10px;
          }
        }
      }

    }

    .btn-box {
      display: -webkit-flex;
      display: flex;
      justify-content: flex-end;
      margin-top:20px;
    }

    //子流程-并行流程
    .list-wrap {
      width: 100%;
      overflow: auto;
      .list {
        width:100%;
        min-height:36px;
        
        color: black;
        .flow {
          background: #fafafa;
          cursor: pointer;
          height: 36px;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #efeff4;
          .name {
            margin-left: 10px;
          }
          .flow-right {
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            align-items: center;
            .add-icon {
              width:24px;
              height:24px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              color: red;
              cursor: pointer;
              font-size: 16px;
            }
          }
            
        }
        .active {
          background: #8fe1e7;
          color: black;
        }
        .users {
          width: 95%;
          height:36px;
          margin-left:5%;
          box-sizing: border-box;
          border-bottom:1px solid #efeff4;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .user-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            // .photo {
            //   width:32px;
            //   height: 32px; 
            //   border-radius: 50%;
            //   overflow: hidden;
            //   img {
            //     width:32px;
            //     height: 32px; 
            //   }
            // }
            .user-name {
              font-size: 14px;
              margin-left: 10px;
            }
          }
          .del-icon {
            margin-right:10px;
            color:#888888;
          }
        }
      }
      .view-nodata {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 14px;
        color: #666666;
        .view-nodata-img,
        .view-nodata-text {
          display: flex;
          justify-content: center;
          i {
            color: #d9d9d9;
          }
        }
      }
    }



  }

}