@charset "utf-8";
.bgcolor-white{
    background-color: #fff;
    height: 100%;
    #formList{
        height: 100%;
        overflow: hidden;
        #container {
            position: relative;
            overflow: hidden;
            #activityTable {
                background-color: #FFFFFF;
                border-top: 0px;
                border-bottom: 1px solid #d5d9dc;
                padding: 10px;
                // position: fixed;
                // left: 0px;
                // right: 0px;
                // z-index: 6;
                // overflow: hidden;
                &::after{
                    content:"";
                    display:block;
                    clear:both;
                }
                .searchtext{
                    float: left;
                    margin-right: 10px;
                }
                #searchConditionBtn{
                    margin-right:10px;
                }
            }
            .contentPanel {
                // padding-top: 55px;
                height: 100%;
                #searchFormTable {
                    padding: 10px;
                    border-bottom: 1px solid #d5d9dc;
                    .searchDiv{
                        >div>table td {
                            padding: 10px;
                        }
                    }
                }
                #dataTable-box {
                    height: 100%;
                    position: relative;
                    .dataTable {
                        top: 0px;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        height: 100%;
                        #viewHtml{
                            height: 100%;
                            >div{
                                height: 100%;
                            }
                        }
                        #doFlowRemarkDiv{
                            display:none;width:280px;
                            #temp_remark{
                                width:97%;
                            }
                        }
                    }
                }
            }
            .viewPrintBtnDiv{
                width: 84px;
                height: 34px;
                background: #379af5;
                border-radius: 3px;
                text-align: center;
                line-height: 34px;
                position: absolute;
                bottom: 10px;
                right: 20px;
                .viewPrintBtn{
                    color: #ffffff;
                }
            }
        }
    }
}
//treeview树形视图
#container{
    height: 100%;
    #div1{
        position:absolute; 
        left:0; top:0;
         width: 100%;
          height: 100%; 
          z-index: 10; background-color:transparent ;display:none 
    }
    .treemain{
        #treepanel{
            width: 16%;
            float: left;
            padding-top: 5px;
            .newformbtn{
                text-align: left;
            }
            .new-build{
                font-size: 18px;
                color:#909595;
                margin-right: 22px;
                &:hover{
                    color: #3CB8BD;
                }
            }
            .delete-out{
                font-size: 18px;
                color:#909595;
                &:hover{
                    color: #FE6162;
                }
            }
            .foldul{
                margin-bottom: 0;
                //padding-left: 5px;
                text-align:left;
                .foldli{
                    min-height: 30px;
                    font-size: 0px;
                    //padding-left: 7px;
                    dd{
                        min-height: 30px;
                        line-height: 30px;
                    }
                    >dd{
                        padding-left: 10px;
                    }
                    .chevron-right{
                        //margin-right:10px;
                        //margin-left:-20px;
                        padding:10px;
                    }
                    i{
                        // width: 14px;
                        // height: 20px;
                        //line-height: 30px;
                        font-size: 14px;
                        color: #666;
                    }
                    .choice{
                        width: 20px;
                        height: 16px;
                        position: relative;
                        display: inline-block;
                        font-weight: 400;
                        color: #0c4757;
                        padding-left: 25px;
                        cursor: pointer;
                        margin-bottom: 0px;
                        input{
                        display: none;
                        }
                        input:checked+i{
                            background-position:left bottom;
                        }
                        i{
                            display: block;
                            position: absolute;
                            top: 3px;
                            left: 0;
                            width: 16px;
                            height: 16px;
                            outline: 0;
                            background: url(../../images/updown.png) no-repeat left top;
                        }
                    }
                    .region{
                        font-size: 14px;
                        color:#333;
                    }
                    .localname{
                        background: #DDE2E2;
                    }
                    .foldli{
                        >dd{
                            padding-left:30px;
                        }
                        .foldli{
                            >dd{
                                padding-left:50px;
                            }
                            .foldli{
                                >dd{
                                    padding-left:70px;
                                }
                                .foldli{
                                    >dd{
                                        padding-left:90px;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .treepanelview{
            width: 84%;
            float: left;
            padding-left: 2px;
            iframe{
                width: 100%;
                height: 100%;
                #flowpanel{
                    margin-bottom: 0px !important;
                }
            }
        }
        .drag{
            width: 3px;
            background-color: #ccc;
            position: relative;
            left: 16%;
            margin-left: 2px;
        }
    }
}
.obpm-viewHtml{
    .obpm-viewtable{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 25px;
    }
}
.obpm-viewHtml + #pagination-panel{
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding:10px 0;
}
//地图视图查询mapview
.BMap_pop{
    .BMap_bubble_title{
        font-size: 18px;
        margin-bottom: 6px;
    }
    .mapContent{
        min-width: 330px;
        max-width: 420px;
        margin-bottom: 6px;
        font-size: 14px;
        color: #666;
    }
    .mapAddress{
        color: #666;
        margin-bottom: 6px;
    }
    .obpmdelete{
        a{
            color: red;
        }
    }
}
// 折叠视图
.obpm-calendarview{
    height: 100%;
    overflow: hidden; 
    outline: none;
    .obpm-datatable{
        table-layout:auto;
        width: 98%;
        margin: 20px auto 20px;
        colgroup{
            .obpm-col{
                width: 45px;
            }
        }
        thead{
           .listDataThFirstTd{
               font-size: 0px;
               text-align:left;
               border-bottom: none;
                .choice{
                    @extend .choicestyle;
                }
                .obpm-listdatath{
                    border-bottom: none;
                }
           } 
           .obpm-listdatath{
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
            border-bottom: none;
           }
        }
        tbody{
            .treeHead{
                .foldline{
                    text-align: left;
                    font-size: 0;
                    .choice{
                        @extend .choicestyle;
                    }
                }
            }
            .obpm-listdatatr{
                .listDataTrFirstTd{
                    font-size: 0;
                    .choice{
                        @extend .choicestyle;
                    }
                }
            }
        }
    }
}

//网格视图
.gridview-border{
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}
.gridview-table{
    width: 100%;
}
.gridview-box{
    //position: relative;
    //overflow: hidden;
}
.gridview-table-body{
    //position: relative;
    //overflow: auto;
    //margin-right: -1px;
    //margin-bottom: -1px;
}
.gridview-table-header{
    border-width: 0 0 1px;
    overflow: hidden;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: #f2f2f2;
    box-sizing: border-box;
    //.gridview-table{
        margin-bottom: -1px;
        //position: relative;
        background-color: #fff;
        color: #666;
        tr{
            background-color: #f2f2f2;
            th{
                height: 44px;
                padding: 12px;
                box-sizing: border-box;
                @extend .gridview-border;
            }
        }
    //}
}
.gridview-table-top{
    th{
        padding: 12px;
    }
    th:first-child{
        padding: 0;
    }
    th:last-child{
        padding: 0;
    }
    //.gridview-table{
    //    div{
    //        //padding: 12px;
    //        box-sizing: border-box;
    //        overflow: hidden;
    //        text-overflow: ellipsis;
    //        white-space: nowrap;
    //
    //    }
    //}
}
.gridview-firstTd{
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    .choice {
        width: 16px;
        height: 16px;
        position: relative;
        display: inline-block;
        font-weight: 400;
        color: #0c4757;
        cursor: pointer;
        vertical-align: middle;
        input {
            display: none;
        }
        input:checked + i{
            background-position: left bottom;
        }
        i {
            display: inline-block;
            position: absolute;
            top: 0px;
            left: 0;
            width: 16px;
            height: 16px;
            outline: 0;
            background: url(../../images/updown.png) no-repeat left top;
        }
        i.prohibit{
            background: url(../../images/prohibit.png) no-repeat left top;
        }
    }
    div{
        //padding: 12px;
        text-align: center;
    }
}
//.gridview-table-operation{
//    width: 100px;
//}
.gridview-table-main{
    //position: relative;
    //overflow: auto;
    //margin-right: -1px;
    //margin-bottom: -1px;
    //height: 250px;
    //box-sizing: border-box;
    //.gridview-table{
        //position: relative;
        //box-sizing: border-box;
        tr{
            background: #ffffff;
            td{
                box-sizing: border-box;
                padding: 12px;
                @extend .gridview-border;
                div{
                    //min-height: 40px;
                    box-sizing:border-box;
                    text-align: left;
                    white-space: normal;
                    overflow: hidden;
                }
            }
            //td:first-child{
            //    padding: 0;
            //}
            //td:last-child{
            //    padding: 0;
            //}
        }
    //}
    .operation-button{
        position: relative;
        .gridview-table-operation{
            top: 10px;
            left: 56px;
            text-align: center;
            border-radius:3px;
            a{
                font-size: 16px;
            }
        }
    }
}
.gridview-table-fixed{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
}
// .gridview-table-fixed-l{
//     width: 60px;
//     box-shadow: 0 -1px 8px rgba(0,0,0,.08);
//     background: #ffffff;
//     .gridview-table-header .gridview-table{
//         width: 60px;
//     }
//     td{
//         box-sizing: border-box;
//         @extend .gridview-border;
//     }
// }

// .gridview-table-fixed-r{
//     width: 100px;
//     right: 0px;
//     left: auto;
//     border-width: 0 0 0 1px;
//     box-shadow: -1px 0 8px rgba(0,0,0,.08);
//     background: #ffffff;
//     .gridview-table{
//         width: 100%;
//     }
//     .gridview-table-mend{
//         position: absolute;
//         right: -12px;
//         top: 0;
//         height: 44px;
//         width: 20px;
//         background-color: #f2f2f2;
//     }
//     td{
//         box-sizing: border-box;
//         @extend .gridview-border;
//     }
//     .operation-button{
//         position: relative;
//         .operation-button-hover{
//             width: 40px;
//             height: 30px;
//             display: inline-block;
//             &:hover{
//                 .gridview-table-operation{
//                     display: block;
//                     a{
//                         display: block;
//                         font-size: 12px;
//                         width: 44px;
//                         height: 24px;
//                         line-height: 24px;
//                         text-align: center;
//                         &:hover{
//                             background-color: #f2f2f2;
//                         }
//                     }
//                 }
//             }
//         }
//         .gridview-table-operation{
//             position: absolute;
//             top: -11px;
//             left: 53px;
//             background: #FFFFFF;
//             display: none;
//             text-align: center;
//             box-shadow:0 2px 4px 0 rgba(192,197,197,1);
//             border-radius:3px;
//             a{
//                 display: block;
//                 font-size: 12px;
//                 width: 44px;
//                 height: 24px;
//                 line-height: 24px;
//                 text-align: center;
//                 &:hover{
//                     background-color: #f2f2f2;
//                 }
//             }
//         }
//     }
//     thead{
//         tr:first-child{
//             div{
//                 text-align: center;
//             }
//         }
//     }
// }
